*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/* nav-bar */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.nav-wrapper > .nav-left > a {
    color: #545454;
    margin-right: 20px;
}

.nav-wrapper > .nav-right > a {
    color: #545454;
    margin-left: 20px;
}

.nav-wrapper a:hover{
    color: #B78E80;
}

/* about */
.about-section{
    background: url(profile.jpg) no-repeat left;
    background-size: 55%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    color: #B78E80;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}

.ah-footer {
  display: flex;
  justify-content: space-between;
  padding: 100px;
  padding: 100px;
  color: #545454;
  font-weight: 900;
}

.ah-footer > .footer-left > a {
  margin-right: 50px;
}

.ah-footer > .footer-left > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 80px;
    }
    .inner-container{
        padding: 60px;
    }
}

/* Responsive */

@media screen and (max-width: 800px) {
  .intro {
      line-height: 1;
  }
  .nav-wrapper {
      padding-left: 40px;
      padding-right: 40px;
  }
  .nav-wrapper > .nav-left > a {
      margin-right: 5px;
  }
  
  .nav-wrapper > .nav-right > a {
      margin-left: 5px;
  }
  .ah-footer {
      display: grid;
      grid-template-columns: 1fr;
  }
  .ah-footer > .footer-left > a {
      display: grid;
      grid-template-columns: 1fr;
  }
  .images-wrapper {
      grid-template-columns: 1fr;
  }
}