*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Merriweather Sans', sans-serif;
    box-sizing: border-box;
}

/* nav-bar */
.header {
    background-color: white;
    border-bottom: 1px solid #B78E80;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.nav-wrapper > .nav-left > a {
    color: #545454;
    margin-right: 20px;
}

.nav-wrapper > .nav-right > a {
    color: #545454;
    margin-left: 20px;
}

.nav-wrapper a:hover{
    color: #B78E80;
}

.name-footer {
    text-align: center;
    color: #545454;
    padding-bottom: 20px;
}

img {
    height: auto;
    width: 100%;
    margin: 2%;
}

/* Responsive */

@media screen and (max-width: 800px) {
    .intro {
        line-height: 1;
    }
    .nav-wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }
    .nav-wrapper > .nav-left > a {
        margin-right: 5px;
    }
    
    .nav-wrapper > .nav-right > a {
        margin-left: 5px;
    }
}