*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

/* nav-bar */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.nav-wrapper > .nav-left > a {
    color: black;
    margin-right: 20px;
}

.nav-wrapper > .nav-right > a {
    color: black;
    margin-left: 20px;
}

.nav-wrapper a:hover{
    color: #425B99;
}

.content {
    float: right;
}

h1 {
    display: block;
    font-size: 6em;
    text-align: center;
    color: #425B99;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
    font-weight: lighter;
}

.images-wrapper {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    margin-left: 15vw;
    margin-right: 15vw;
}

img {
    height: auto;
    width: 100%;
    margin: 2%;
}

hr {
    width: 80%;
    color: beige;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 35px;
    margin-bottom: 35px;
}

.intro {
    line-height: 2;
}

.name-footer {
    text-align: center;
    padding-bottom: 20px;
}

/* Responsive */

@media screen and (max-width: 800px) {
    .intro {
        line-height: 1;
    }
    .nav-wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }
    .nav-wrapper > .nav-left > a {
        margin-right: 5px;
    }
    
    .nav-wrapper > .nav-right > a {
        margin-left: 5px;
    }
}