*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

.intro h1, .intro h2 {
    margin-right: 100px;
    line-height: 1.5;
}

.intro > h1 {
    display: block;
    font-size: 5em;
    text-align: right;
    color: #353535;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}

.intro > h2 {
    color: #545454;
    text-align: right;
    font-family: 'Dancing Script', cursive;
}

/* nav-bar */
.header {
    background-color: white;
    /* border-bottom: 1px solid #B78E80; */
    /* position: fixed; */
    width: 100%;
    z-index: 1;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;
}

.nav-wrapper > .nav-left > a {
    color: #545454;
    margin-right: 20px;
}

.nav-wrapper > .nav-right > a {
    color: #545454;
    margin-left: 20px;
}

.nav-wrapper a:hover{
    color: #B78E80;
}

.content {
    float: right;
}

.ah-footer {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    padding: 100px;
    color: #545454;
    font-weight: 900;
}

.ah-footer > .footer-left > a {
    margin-right: 50px;
}

h3 {
    text-align: center;
    font-weight: lighter;
    color: #545454;
}

.images-wrapper {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
}

img {
    height: auto;
    width: 100%;
    padding: 10px;
}

hr {
    width: 80%;
    color: beige;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 35px;
    margin-bottom: 35px;
}



/* Responsive */

@media screen and (max-width: 800px) {
    .intro {
        line-height: 1;
    }
    .nav-wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }
    .nav-wrapper > .nav-left > a {
        margin-right: 5px;
    }
    
    .nav-wrapper > .nav-right > a {
        margin-left: 5px;
    }
    .ah-footer {
        display: grid;
        grid-template-columns: 1fr;
    }
    .ah-footer > .footer-left > a {
        display: grid;
        grid-template-columns: 1fr;
    }
    .images-wrapper {
        grid-template-columns: 1fr;
    }
}

/* Bounce Animation */

.project-1:hover{
    animation: bounce 1s linear;
}

.project-2:hover{
    animation: bounce 1s linear;
}

.project-3:hover{
    animation: bounce 1s linear;
}
@keyframes bounce{
    20%,50%,80%,to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    70%{
        transform: translateY(-15px);
    }
    90%{
        transform: translateY(-4px);
    }
}