*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

/* nav-bar */
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    
}

.content {
    float: right;
}

h1 {
    display: block;
    font-size: 6em;
    text-align: center;
    color: #425B99;
}
h2 {
    text-align: center;
}
h3 {
    text-align: center;
}